.sidebar{
  height: 105vh;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar__fill{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}