*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

*{
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0;
  -webkit-margin-end:0;
  -webkit-padding-start:0;
  -webkit-padding-after:0;
  -webkit-padding-before:0;
  -webkit-padding-end:0;
  -webkit-margin-before:0;
  margin-after:0;
  margin-start:0;
  margin-end:0;
  padding-start:0;
  padding-after:0;
  padding-before:0;
  padding-end:0;
  -moz-margin-after:0;
  -moz-margin-start:0;
  -moz-margin-end:0;
  -moz-padding-start:0;
  -moz-padding-after:0;
  -moz-padding-before:0;
  -moz-padding-end:0;
}
